.img
{
    right:0;
    left:0;
    display: block;
    margin: auto;
    border: 2px solid black;
    border-radius: 20px;
}
.txt{
    text-decoration: none;
}
zag{
    left: 0;
    right:0;
    margin: auto;
}